// ==========================================================================

// CP Nav Plugin for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

.cpn-empty-url {
    cursor: default;

    &:hover {
        background: none !important;
        color: #d7d9db !important;
    }
}
