// ==========================================================================

// CP Nav Plugin for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

.cp-nav-menu {
    li li .label {
        flex: none !important;
    }

    [data-type="divider"] {
        .icon {
            display: none;
        }

        .label {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 10px;
            background: #33404d;
            color: #e5edf6;
            flex: none !important;
            position: relative;
            z-index: 1;
            padding: 0 5px;
            margin-left: -5px;
        }

        a::after {
            content: '';
            background: #858c95;
            width: 100%;
            display: block;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }

    .cp-nav-toggle {
        right: 0;
        color: #e4edf6;
        transition: color linear 100ms, background-color linear 100ms;
        cursor: pointer;
        border-radius: 5px;
        user-select: none;
        width: 36px !important;
        height: 100% !important;
        z-index: 9 !important;
    }

    .cp-nav-toggle:hover,
    a:hover + .cp-nav-toggle {
        background-color: #1f2933;
        color: #fff;
    }
}
