// ==========================================================================

// CP Nav Plugin for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================


// ==========================================================================
// Navigations - Admin Table
// ==========================================================================

#cp-nav-items {
    margin-top: 1.5rem;
}

.cp-nav-item {
    font-size: 13px;

    .lightswitch-cell .lightswitch-field {
        display: flex;
        height: 17px;
        justify-content: center;
    }

    .move {
        display: block;
        position: absolute;
        font-size: 11px;
        text-decoration: none;
        z-index: 1;
    }

    .toggle {
        display: block;
        position: absolute;
        top: calc(50% - 8px);
        padding: 4px;
    }

    [data-titlecell] {
        font-weight: normal;
        color: #999;
    }

    .element {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

body.ltr {
    .cp-nav-item .element {
        padding-left: 24px;
    }

    .cp-nav-item .move {
        margin-left: 6px;
    }

    .cp-nav-item .move + .toggle {
        margin-left: -12px;
    }
}

body.rtl {
    .cp-nav-item .element {
        padding-right: 24px;
    }

    .cp-nav-item .move {
        margin-right: -6px;
    }

    .cp-nav-item .move + .toggle {
        margin-right: -12px;
    }
}




// ==========================================================================
// Navigations - Types
// ==========================================================================

.nav-type {
    font-size: 9px;
    text-transform: uppercase;
    cursor: default;
    user-select: none;
}

.nav-type span {
    padding: 3px 8px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.nav-type .nav-type-craft {
    color: #e12d39;
    background: rgba(#e12d39, 0.05);
    border-color: rgba(#e12d39, 0.15);
}

.nav-type .nav-type-plugin {
    color: #5e5378;
    background: rgba(#5e5378, 0.05);
    border-color: rgba(#5e5378, 0.15);
}

.nav-type .nav-type-manual {
    color: #0d78f2;
    background: rgba(#0d78f2, 0.05);
    border-color: rgba(#0d78f2, 0.15);
}

.nav-type .nav-type-divider {
    color: #1BB311;
    background: rgba(#1BB311, 0.05);
    border-color: rgba(#1BB311, 0.15);
}



// ==========================================================================
// Navigations - Editing Notice
// ==========================================================================

.cp-nav-notice {
    top: 83px;
    left: 0;
    width: 100%;
    background: #e12d3a;
    height: 30px;
    color: white;
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
    line-height: 30px;
    font-size: 11px;
    z-index: 1000;
    display: none;
    pointer-events: none;
    user-select: none;

    &.shown {
        display: block;
        margin-bottom: -15px;
    }
}


// ==========================================================================
// Layouts - Admin Table
// ==========================================================================

#layoutItems {
    .edit-layout {
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

    .edit-layout .spinner {
        color: #999;
    }
}




