// ==========================================================================

// CP Nav Plugin for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

.cpn-empty-url {
    a {
        cursor: default;

        &:hover {
            background: none !important;
            color: #d7d9db !important;
        }
    }
}

#nav li[id^="nav-divider-"],
.cpn-divider {
    &.loaded {
        opacity: 1 !important;
    }
    
    a {
        position: relative;
        pointer-events: none;
    }

    .icon {
        display: none !important;
    }

    .label {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        background: #333f4d;
        color: #969ba2;
        flex: none !important;
        position: relative;
        z-index: 1;
        padding: 0 5px;
        margin-left: -5px;
    }

    a::after {
        content: '';
        background: #747c86;
        width: 100%;
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
    }
}
