{% extends "cp-nav/_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "Control Panel Nav" | t, url: url('cp-nav') },
    { label: "Layouts" | t, url: url('cp-nav/layouts') }
] %}

{% set selectedTab = 'layouts' %}

{% block actionButton %}
    <div class="buttons right">
        <a class="btn submit add icon add-new-layout">{{ "New layout" | t('cp-nav') }}</a>
    </div>
{% endblock %}

{% set content %}

    <table id="layoutItems" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "Name" | t('cp-nav') }}</th>
            <th></th>
        </thead>
        <tbody>
            {% if layouts | length > 0 %}
                {% for layout in layouts %}
                    <tr class="layout-item" data-id="{{ layout.id }}" data-name="{{ layout.name }}">
                        <td>
                            {% if not layout.isDefault %}
                                <a class="edit-layout"><strong>{{ layout.name }}</strong></a>
                            {% else %}
                                <span class="edit-layout"><strong>{{ layout.name }}</strong></span>
                            {% endif %}
                        </td>

                        <td class="thin">
                            {% if not layout.isDefault %}
                                <a class="delete icon" title="{{ 'Delete' | t('cp-nav') }}" role="button"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endset %}
