{% extends 'cp-nav/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Control Panel Nav' | t, url: url('cp-nav') },
    { label: 'Settings' | t, url: url('cp-nav') }
] %}

{% set selectedTab = 'settings' %}

{% set content %}

<div class="field">
    <div class="heading">
        <label id="cache-label" for="cache">{{ "Reset Navigation" | t('cp-nav') }}</label>

        <div class="instructions">
            <p>{{ 'To reset all control panel navigations to their original state, click the button below. You will loose  any of your customisation changes, such as renaming, enable/disable and re-ordering.' | t('cp-nav') }}</p>

            <a class="btn submit" href="{{ actionUrl('cp-nav/navigation/reset') }}">
                {{ 'Reset Navigation' | t('cp-nav') }}
            </a>
        </div>
    </div>
</div>

{% endset %}
