{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Label"|t,
    instructions: 'Choose what you want this menu item to be called'|t,
    id: 'currLabel',
    name: 'currLabel',
    required: true,
    autofocus: true,
    value: nav.currLabel,
}) }}

{% set prevUrl = (nav.prevUrl) ? nav.prevUrl : nav.url %}

{{ forms.textField({
    label: "URL"|t,
    instructions: 'Choose the relative URL this menu points to.<br><strong>Default:</strong> ' ~ prevUrl |t,
    id: 'url',
    name: 'url',
    required: true,
    autofocus: true,
    value: nav.url,
    disabled: not nav.manualNav,
    class: (nav.manualNav) ? '' : 'disabled',
}) }}

{% if not nav.manualNav %}
    <input type="hidden" name="url" value="{{ nav.url }}" style="display: none;" />
{% endif %}

{% if nav.manualNav %}
    {{ forms.lightswitchField({
        label: "New window"|t,
        instructions: 'Whether to open this page in a new window.'|t,
        name: 'newWindow',
        on: nav.newWindow,
    }) }}
{% endif %}

<input type="hidden" name="id" value="{{ nav.id }}" style="display: none;" />

