{% import "_includes/forms" as forms %}

{# without this, will override styles/scripts on /settings/plugins page (and for any other plugin) #}
{% if craft.request.lastSegment == 'cpnav' %}
    {% includeCssResource 'cpnav/css/cpnav.css' %}
    {% includeJsResource 'cpnav/js/cpnav.js' %}
{% endif %}

{% set navItems = craft.cpNav.defaultNavItems %}

{% set tabs = {
    navigation: { 
      label: "Navigation"|t, 
      url: '#settings-navigation'
    },
    settings: { 
      label: "Settings"|t, 
      url: '#settings-settings'
    },
} %}

<input type="hidden" name="layoutId" value="1" />

<div class="grid first">
    <div class="item first" data-position="left" data-min-colspan="2" data-max-colspan="3">
        <div class="pane first tableview">

            {% if tabs is defined and tabs %}
                {% include "_includes/tabs" %}
            {% endif %}

            <div id="navigation">
                <div class="field first">
                    <div class="heading">
                        <div class="instructions"><p>A user can set their own order and visibility for their account, however any items you hide here will not be available to them.</p></div>
                    </div>
                </div>

                {% include "cpNav/settings/table" %}
            </div>

            <div id="settings" class="hidden">
                {% include "cpNav/settings/settings" %}

                <div class="buttons">
                    <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
                </div>
            </div>
        </div>
    </div>

    <div class="item" data-position="right" data-colspan="1">
        <div class="pane first">
            <div class="field first">
                <div class="heading">
                    <label>Add new menu item</label>
                    <div class="instructions"><p>Create your own navigation link to be shown in the CP navigation. Useful for an external link, or direct access to a page.</p></div>
                </div>
            </div>

            <input type="hidden" id="handle" name="handle" />

            {{ forms.textField({
                label: "Label"|t,
                id: 'label',
                name: 'label',
                first: true,
                required: true,
                instructions: 'What the label of this page should be.'|t
            }) }}

            {% set siteUrl = craft.app.getSiteUrl() %}
            {% set siteTrigger = (craft.config.cpTrigger) ? craft.config.cpTrigger : 'admin' %}
            {% set cpUrl = siteUrl ~ siteTrigger ~ '/' %}

            {{ forms.textField({
                label: "URL"|t,
                id: 'url',
                name: 'url',
                required: true,
                instructions: 'The URL of this menu item. Can be a relative URL, or external.<br>eg. <span class="eg-url">'~cpUrl~'</span><span class="example-url"></span>'|t
            }) }}

            {{ forms.lightswitchField({
                label: "New window"|t,
                instructions: 'Whether to open this page in a new window.'|t,
                name: 'newWindow',
            }) }}

            <div id="newNavItem" class="buttons">
                <button type="submit" class="btn submit add icon formsubmit" data-action="cpNav/new" data-redirect="settings/plugins/cpnav">{{ 'Add menu item'|t }}</button>
            </div>
        </div>
    </div>

    <div class="item" data-position="right" data-colspan="1">
        <div class="pane first">
            <div class="field first">
                <div class="heading">
                    <label>Restore default navigation</label>
                    <div class="instructions"><p>Revert the navigation back to the original, default layout. This will reset the order, label, url and visibilty of each menu in this layout.</p></div>
                </div>
            </div>

            <div class="left">
                <div class="field first">
                    <div class="heading">
                        <div class="instructions"><p><strong>Note:</strong> This cannot be undone.</p></div>
                    </div>
                </div>
            </div>

            <div class="right">
                <button type="submit" class="btn small formsubmit" data-action="cpNav/restore" data-confirm="Are you sure you want to restore this layout back to its default? This cannot be undone." data-redirect="settings/plugins/cpnav">{{ 'Restore defaults'|t }}</button>
            </div>
        </div>
    </div>

</div>

{% includeJs "new Craft.HandleGenerator('#settings-label', '#settings-handle');" %}

