
/* override default settings layout */
#main > .grid > .item > .pane {
	background: transparent;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

a.edit-nav {
	padding-left: 5px;
}

.original-nav {
	padding-left: 3px;
	color: #999;
	font-size: 90%;
}

.original-nav-link {
	color: #999;
	font-size: 90%;
}

.content .body form > .buttons .btn.submit {
	display: none;
}

button.btn.formsubmit {
	font-family: inherit;
	font-size: inherit;
}

button.btn.small.formsubmit {
	font-size: 11px;
}
