#header-actions .add-new-menu-item:before {
	font-size: 16px;
}

.addnewmenuitem {

}

.hud .addnewmenuitem > form > .fields {
	padding: 20px 20px 0 20px;
}

.hud .addnewmenuitem .field .instructions strong {
	display: none;
}

.hud .addnewmenuitem .footer {
	padding: 7px 2px;
}

.hud .addnewmenuitem .footer .buttons {
	display: block !important;
}

.hud .addnewmenuitem .footer .buttons.left .btn {
	margin: 5px 0 0 5px;
}
