{% extends "cpnav/_layouts/cp" %}

{% includeJsResource 'cpnav/js/CPNavNavigation.js' %}

{% set crumbs = [
    { label: "Control Panel Nav" | t, url: url('cpnav') },
    { label: "Navigation" | t, url: url('cpnav') }
] %}

{% set selectedTab = 'navigation' %}

{% set layoutItems = [] %}
{% for layout in layouts %}
    {% set layoutItems = layoutItems | merge([{ label: layout.name, value: layout.id }]) %}
{% endfor %}

{# Always default to first layout #}
{% if craft.request.param('layoutId') %}
    {% set layoutId = craft.request.param('layoutId') %}
{% else %}
    {% set layoutId = 1 %}
{% endif %}

{% set extraPageHeaderHtml %}
    <div class="buttons right">
        <a class="btn submit add icon add-new-menu-item">{{ "New menu item" | t }}</a>
    </div>
{% endset %}

{% block main %}

<div class="grid first">
    <div class="item">
        <div id="fields" class="pane">
            {% include "_includes/tabs" %}

            {% if craft.app.getEditionName() != 'Personal' %}
                {{ forms.selectField({
                    first: true,
                    label: "Layout" | t,
                    instructions: "Choose a Layout to edit" | t,
                    id: 'layoutId',
                    name: 'layoutId',
                    value: layoutId,
                    options: layoutItems,
                }) }}
            {% endif %}

            <table id="navItems" class="data fullwidth collapsible">
                <thead>
                    <th scope="col">{{ "Visible" | t }}</th>
                    <th scope="col">{{ "Label" | t }}</th>
                    <th scope="col">{{ "URL" | t }}</th>
                    <th></th>
                </thead>
                <tbody>
                    {% if navItems is defined and navItems | length > 0 %}
                        {% for nav in navItems %}
                            <tr class="nav-item" data-id="{{ nav.id }}" data-currLabel="{{ nav.currLabel }}" data-name="{{ nav.currLabel }}">
                                <td class="thin">
                                    {{ forms.lightswitchField({
                                        name: 'navEnabled',
                                        on: nav.enabled,
                                    }) }}
                                </td>

                                <td data-title="{{ nav.currLabel | t }}">
                                    <a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a>
                                    <a class="edit-nav">{{ nav.currLabel | t }}</a>
                                    <span class="original-nav">({{ nav.prevLabel | t }})</span>
                                </td>

                                <td data-title="{{ nav.currLabel | t }}">
                                    <span class="original-nav-link">{{ nav.url }}</span>
                                </td>

                                <td class="thin">
                                    {% if nav.manualNav %}
                                        <a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% endblock %}
