{% import '_includes/forms' as forms %}

<div class="fields">
    {{ forms.textField({
        label: 'Label' | t('cp-nav'),
        instructions: 'Choose what you want this menu item to be called' | t('cp-nav'),
        id: 'currLabel',
        name: 'currLabel',
        required: nav.isDivider() ? false : true,
        autofocus: true,
        value: nav.currLabel,
    }) }}

    {% if not nav.isDivider() %}
        {% set prevUrl = (nav.prevUrl) ? nav.prevUrl : nav.url %}

        {{ forms.textField({
            label: 'URL' | t('cp-nav'),
            instructions: 'Choose the URL this menu points to.' | t('cp-nav'),
            id: 'url',
            name: 'url',
            autofocus: true,
            value: nav.url,
            disabled: not nav.isManual(),
            class: (nav.isManual()) ? '' : 'disabled',
        }) }}

        {% if not nav.isManual() %}
            <input type="hidden" name="url" value="{{ nav.url }}" style="display: none;" />
        {% endif %}

        {% if nav.isManual() %}
            {{ forms.lightswitchField({
                label: 'New window' | t('cp-nav'),
                instructions: 'Whether to open this page in a new window.' | t('cp-nav'),
                name: 'newWindow',
                on: nav.newWindow,
            }) }}
        {% else %}
            <input type="hidden" name="newWindow" value="{{ nav.newWindow }}" style="display: none;" />
        {% endif %}

        {% set icons = (icons is defined ? icons : []) -%}

        {{ forms.elementSelectField({
            label: 'Custom Icon' | t('cp-nav'),
            instructions: 'Specify an SVG asset for this menu item icon.' | t('cp-nav'),
            elements: icons,
            id: 'customIcon',
            name: 'customIcon',
            elementType: elementType,
            criteria: {
                kind: ['image'],
            },
            sources: sources,
            jsClass: 'Craft.AssetSelectInput',
            addButtonLabel: 'Select an Icon' | t('cp-nav'),
            limit: 1,
        }) }}

        {{ forms.selectField({
            label: 'Craft Icon' | t('cp-nav'),
            instructions: 'Specify an in-built Craft icon for this menu item.' | t('cp-nav'),
            id: 'craft-icon',
            name: 'icon',
            value: nav.icon,
            options: settings.getFontIconOptions(),
        }) }}

        {% if nav.getChildren() %}
            {{ forms.selectField({
                label: 'Subnav Behaviour' | t('cp-nav'),
                instructions: 'Set the behaviour for subnav items.' | t('cp-nav'),
                id: 'subnavBehaviour',
                name: 'subnavBehaviour',
                value: nav.subnavBehaviour,
                options: settings.getSubnavBehaviourOptions(),
            }) }}
        {% endif %}
    {% endif %}
</div>

<script>

(function($) {
    $('#craft-icon-field select').on('change', function(e) {
        var value = $(this).val();
        var $iconElement = $('#craft-icon-field .input').find('.icon-element');

        if ($iconElement.length == 0) {
            $iconElement = $('<span class="icon-element"></span>').appendTo('#craft-icon-field .input');
        }

        $iconElement.html('<span data-icon="' + value + '"></span>');
    });

    $('#craft-icon-field select').trigger('change');
})(jQuery);

</script>

<style>

.icon-element {
    padding-left: 5px;
    font-size: 16px;
}

</style>

<input type="hidden" name="layoutId" value="{{ nav.layoutId }}" />
<input type="hidden" name="id" value="{{ nav.id }}" />
<input type="hidden" name="type" value="{{ nav.type }}" />
<input type="text" id="handle" name="handle" value="{{ nav.handle }}" style="visibility: hidden;height:0;" />
