{% apply spaceless %}

<ul>
    {% for item in cpNavItems %}
        {% set subnavBehaviour = item.getSubnavBehaviour() %}
        {% set children = item.getChildrenForCurrentUser() %}

        {% set itemAttributes = {
            id: item.getId(),
            'data-type': item.type,
            'data-subnav-behaviour': subnavBehaviour,
        } %}

        {# Set the parent to be selected, only if there are no children selected #}
        {# Otherwise you have two items selected, which looks odd #}
        {% set selected = item.isSelected() %}
        {% set activeOrActiveChild = item.isSelected() %}

        {% if children %}
            {% for item in children %}
                {% set itemIsSelected = (item.isSelected() or (selectedSubnavItem is defined and selectedSubnavItem == item.handle) and selected) %}

                {% if itemIsSelected %}
                    {% set selected = false %}
                    {% set activeOrActiveChild = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% set linkAttributes = {
            href: item.getUrl() ?? false,
            class: [
                selected ? 'sel' : false,
                activeOrActiveChild ? 'is-active' : false,
                (item.getUrl() and item.newWindow) ? 'external' : false,
            ] | filter,
            target: item.getUrl() and item.newWindow ? '_blank' : false,
            rel: item.getUrl() and item.newWindow ? 'noopener' : false,
        } %}

        <li {{ attr(itemAttributes) }}>
            <a {{ attr(linkAttributes) }}>
                <span class="icon icon-mask" aria-hidden="true">
                    {% if item.getIcon() %}
                        {{ svg(item.getIcon(), sanitize=true, namespace=true) }}
                    {% elseif item.getFontIcon() %}
                        {% if item.getFontIcon() == 'title' %}
                            {% include "_includes/defaulticon.svg.twig" with { label: item.label } %}
                        {% else %}
                            <span data-icon="{{ item.getFontIcon() }}"></span>
                        {% endif %}
                    {% endif %}
                </span>

                <span class="label">{{ item.label }}</span>

                {% if not selected and item.badgeCount %}
                    <span class="badge">{{ item.badgeCount | number(decimals=0) }}</span>
                {% endif %}
            </a>

            {% if children %}
                <ul class="subnav {{ subnavBehaviour == 'openToggle' ? 'hidden' }}">
                    {% for item in children %}
                        {% set itemIsSelected = (item.isSelected() or (selectedSubnavItem is defined and selectedSubnavItem == item.handle) and loop.parent.item.isSelected()) %}

                        {% set itemAttributes = {
                            id: item.getId(),
                            'data-type': item.type,
                        } %}

                        {% set linkAttributes = {
                            href: (item.url ?? false) ? url(item.url) : false,
                            class: [
                                itemIsSelected ? 'sel' : false,
                                (item.newWindow ?? false) ? 'external' : false,
                            ] | filter,
                            target: (item.newWindow ?? false) ? '_blank' : false,
                            rel: (item.newWindow ?? false) ? 'noopener' : false,
                        } %}

                        <li {{ attr(itemAttributes) }}>
                            <a {{ attr(linkAttributes) }}>
                                <span class="label">
                                    {{ item.label }}

                                    {% if not itemIsSelected and item.badgeCount %}
                                        <span class="badge">{{ item.badgeCount | number(decimals=0) }}</span>
                                    {% endif %}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endapply %}
